body{
    margin: 0;
}

.fix{
    position: absolute;
}

.width{
    width: 100%;
}

#main{
    position: fixed;
    height: 100%;
    background-image: url("../img/nowe_tlo.jpg");
    background-size: cover;
}

#bg{
    z-index: -100;
}

#camera{
    bottom: 0;
}

.top{
    top: 0;
}

.noise{
    top: 0;
    z-index: -1;
    opacity: 0.2;
    -webkit-filter: grayscale(1);
}

.frame2{
    -moz-transform: scale(1,-1);
    -o-transform: scale(1,-1);
    -webkit-transform: scale(1,-1);
    transform:scale(1,-1);
}

.frame{
    z-index: 100;
}

.counting{
    z-index: -10;
}

.trailer{
    z-index: -9;
    width: auto;
    height: auto;
    /*width: 72%;
    height: 42%;
    margin: 1% 14%;*/
}
